<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img class="logo"
    src="https://occ-0-116-114.1.nflxso.net/dnm/api/v6/5e0byrbbfBPBmtxyXMpKqMuqOQY/AAAABaOmtzK6ohpXcb8sVwT8bjMHC7th46mSF8uBOfTlQuoCY2ieeh07J-MQB4WMmZsft3cb4FdSBqufSJYb0egcYxts7E3hn8pxIYtJ.png?r=d7f"
  />
    <div class="spacer"></div>
</div>


<body>
  

<div class="content" role="main">
<div class="menu">
  <nav class="nav">

    <a [routerLink]="['/Characteres']">Characters</a>
    <a [routerLink]="['/Locations']">Locations</a>
  </nav>
</div>
  <!-- Highlight Card -->
<router-outlet></router-outlet>

  <!-- Resources -->
 

 


</div>
</body>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>